<nav>
	<ul>
		<li><%= link_to "Главная", :root %></li>
		<li><%= link_to "Проекты коттеджей", projects_path %></li>
		<li><%= link_to "Фотогалерея", galleries_path %></li>
		<li><%= link_to "Интересно знать", articles_path %></li>
		<li><%= link_to "Земельные участки", lands_path %></li>
		<li><%= link_to "Заказать строительство", orders_path %></li>
	</ul>
</nav>