<nav>
  <ul>
    <%= nav_link "Главная", root_path %>
    <%= nav_link "Проекты коттеджей", projects_path %>
    <%= nav_link "Готовые дома", finished_projects_path %>
    <%= nav_link "Фотогаллерея", galleries_path, class: 'disabled' %>
    <%= nav_link "Интересно знать", articles_path, class: 'hidden' %>
    <%= nav_link "Земельные участки", lands_path, class: 'disabled' %>
    <%= nav_link "Заказать строительство", orders_path %>
  </ul>
</nav>