<nav>
	<ul>
		<%= nav_link "Главная", :root %>
		<%= nav_link "Проекты коттеджей", projects_path, class: 'disabled' %>
		<%= nav_link "Фотогалерея", galleries_path, class: 'disabled' %>
		<%= nav_link "Интересно знать", articles_path, class: 'hidden' %>
		<%= nav_link "Земельные участки", lands_path, class: 'disabled' %>
		<%= nav_link "Заказать строительство", orders_path %>
	</ul>
</nav>