<div class="project-item">
  <% if p.sold %>
    <div class="sold"></div>
  <% end %>
  <%= link_to image_tag(p.main_image), p.is_finished ? finished_path(id: p) : p, class: 'image' %>
  <a class="title" href=""><%= p.name %></a>
  <ul>
    <li>Этажей: <%= p.floors %></li>
    <li>Площадь: <%= p.square %> кв. м.</li>
    <li>Стоимость: <%= p.price %> руб.</li>
    <% unless p.is_finished %>
      <li>Срок строительства: <%= p.deadline %></li>
    <% end %>
  </ul>
</div>