<div class="project-item">
  <% if project.sold %>
    <div class="sold"></div>
  <% end %>
  <%= link_to image_tag(project.main_image), project.is_finished ? finished_path(id: project) : project, class: 'image' %>
  <a class="title" href=""><%= project.name %></a>
  <ul>
    <li>Этажей: <%= project.floors %></li>
    <li>Площадь: <%= project.square %> кв. м.</li>
    <li>Стоимость: <%= project.price %> руб.</li>
    <% unless project.is_finished %>
      <li>Срок строительства: <%= project.deadline %></li>
    <% end %>
  </ul>
</div>