<% unless is_projects_page? %>
  <section class="projects">
    <div class="table-row">

      <aside class="data">
        <div class="additional">
          <div class="header pr">
            <i class="img"></i>

            <h2 class="name pl"><%= is_project_page? ? 'Информация' : @current_project.name %></h2>
          </div>
          <ul class="pl">
            <li>Этажей: <span class="floor"><%= @current_project.floors %></span></li>
            <li>Площадь: <span class="square"><%= @current_project.square %></span> кв. м.</li>
            <li>Стоимость: <span class="price"><%= @current_project.price %></span> руб.</li>
            <% unless @current_project.is_finished %>
              <li>Срок строительства: <span class="price"><%= @current_project.deadline %></span></li>
            <% end %>
          </ul>
          <div class="stub"></div>
        </div>
        <div class="expand-info pl">
          <% if @replace_scroller_link %>
            <%= link_to 'Скрыть дополнительную информацию', '#', class: 'replace_scroller_link' %>
            <%= link_to 'Показать дополнительную информацию', '#', class: 'replace_scroller_link', style: 'display: none' %>
          <% else %>
            <%= link_to('Подробнее о проекте', @current_project) %>
          <% end %>
        </div>
        <% if action_name == 'finished' %>
          <div class="buy pl"><%= link_to "Заказать осмотр", new_project_order_path(@current_project) %></div>
        <% else %>
          <div class="buy pl"><%= link_to "Заказать строительство", new_project_order_path(@current_project) %></div>
        <% end %>
      </aside>

      <aside class="list">
        <a class="to-left" href="#"></a>

        <div class="scroller-wrapper">
          <div class="scroller">
            <% @all_projects.each do |p| %>
              <%= render 'shared/project_item', p: p %>
            <% end %>
          </div>
        </div>
        <a class="to-right" href="#"></a>
      </aside>

    </div>
  </section>

  <script type="text/javascript">
    $('.replace_scroller_link').click(hideAdditionalInfo);
  </script>
<% end %>