<% unless is_projects_page? %>
  <section class="projects">
    <div class="table-row">

      <aside class="data">
        <div class="additional">
          <div class="header pr">
            <i class="img"></i>

            <h2 class="name pl"><%= is_project_page? ? 'Информация' : @current_project.name %></h2>
          </div>
          <ul class="pl">
            <li>Этажей: <%= @current_project.floors %></li>
            <li>Площадь: <%= @current_project.square %> кв. м.</li>
            <li>Стоимость: <%= @current_project.price %> руб.</li>
            <% unless @current_project.is_finished %>
            <li>Срок строительства: <%= @current_project.deadline %></li>
            <% end %>
          </ul>
          <div class="stub"></div>
        </div>
        <div class="expand-info pl">
          <% if @replace_scroller_link %>
          <%= link_to 'Скрыть дополнительную информацию', '#', class: 'replace_scroller_link' %>
          <%= link_to 'Показать дополнительную информацию', '#', class: 'replace_scroller_link', style: 'display: none' %>
          <% else %>
          <%= link_to('Подробнее о проекте', @current_project) %>
          <% end %>
        </div>
        <% if controller_name == 'finished' %>
        <div class="buy pl"><%= link_to "Заказать осмотр", new_order_path(id: @current_project) %></div>
        <% else %>
        <div class="buy pl"><%= link_to "Заказать строительство", new_order_path(id: @current_project) %></div>
        <% end %>
      </aside>

      <aside class="list">
        <a class="to-left" href="#"></a>

        <div class="scroller-wrapper">
          <div class="scroller">
            <% @all_projects.each do |project| %>
            <%= render 'shared/project_item', project: project %>
            <% end %>
          </div>
        </div>
        <a class="to-right" href="#"></a>
      </aside>

    </div>
  </section>

  <script type="text/javascript">
    $('.replace_scroller_link').click(hideAdditionalInfo);
  </script>
<% end %>