<section class="project intro">
	<div class="header pl">
		<h1>Заинтересовались? Сообщите&nbsp;нам!</h1>
	</div>
	<div class="text pl pr">
		<%= semantic_form_for @order do |f| %>
			<div class="errors">

			</div>
			<%= f.inputs do %>
				<span class="order_project_input">
					<%= f.input :project, label: false, as: :select,
											collection: options_for_select(Project.mapped, @current_project.id),
											include_blank: false
					%>
				</span>
				<span class="order_project_input_paragraph">
					<p>Выберите проект в выпадающем списке, заполните все поля и нажмите кнопку отправить</p>
				</span>
				<span class="order_buyer_name_input">
					<i></i><%= f.input :buyer_name, label: false %>
				</span>
				<span class="order_buyer_phone_input">
					<i></i><%= f.input :buyer_phone, label: false, as: :phone %>
				</span>
				<span class="order_buyer_email_input">
					<i></i><%= f.input :buyer_email, label: false, as: :email %>
				</span>
				<span class="order_submit_action">
					<%= f.action :submit, as: :button %>
				</span>
			<% end %>
		<% end %>
	</div>
</section>

<script type="text/javascript">$('#order_project_id').heapbox({
	'onChange':function(value) {
		window.location.href = "/orders/new?id=" + value;
	},
	effect: {'type':'standard'}
});</script>