<div class="projects-list pr pl">
	<% @all_projects.each do |p| %>
		<div class="item">
			<%= link_to image_tag(p.main_image), p, class: 'image' %>
			<a class="title" href=""><%= p.name %></a>
			<ul>
				<li>Этажей: <span class="floor"><%= @current_project.floors %></span></li>
				<li>Площадь: <span class="square"><%= @current_project.square %></span> кв. м.</li>
				<li>Стоимость: <span class="price"><%= @current_project.price %></span> руб.</li>
				<li>Срок строительства: <span class="price"><%= @current_project.deadline %></span></li>
			</ul>
		</div>
	<% end %>
</div>