<!DOCTYPE html>
<html lang="ru">
<head>
  <title>«Просто Дом» - строительство загородных домов и коттеджей</title>
  <meta content="простодом, жилье, дом, теплый, уютный, красивый, загородный, коттедж, недвижимость" name="keywords">
  <meta content="Компания «Просто Дом» - строительство современных, удобных и не дорогих загородных домов и коттеджей" name="description">
  <meta name='yandex-verification' content='643edeae35c3c912'>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="phone">
    <i class="img"></i>
    <h2>(3452) 97-50-50</h2>
  </div>
  <%= link_to image_tag("prosto-logo.png", class: "logo"), :root %>
  <%= render "shared/menu" %>
</header>

<div class="stripe"></div>

<main style="background-image: url(<%= @current_project.background %>)">

  <% if flash.any? %>
    <aside class="flash-notice" style="background-color: <%= flash[:notice] ? '#85AD18' : '#FF4D4D' %>">
      <p><%= flash[:notice] || flash[:error] %></p>
    </aside>
  <% end %>

  <%= render 'shared/article' %>

  <%= render 'shared/gallery' %>

  <%= yield %>

  <%= render "shared/scroller" %>

  <div class="clear"></div>

</main>

<div class="stripe"></div>

<footer>
  <%= render "shared/menu" %>

  <div class="metrica">
    <!-- Yandex.Metrika informer -->
    <a href="http://metrika.yandex.ru/stat/?id=23944042&amp;from=informer"
       target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/23944042/2_0_FFFFFFFF_FFFFFFFF_0_pageviews"
                                           style="width:80px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры)" onclick="try{Ya.Metrika.informer({i:this,id:23944042,lang:'ru'});return false}catch(e){}"/></a>
    <!-- /Yandex.Metrika informer -->

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
          try {
            w.yaCounter23944042 = new Ya.Metrika({id:23944042,
              webvisor:true,
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true});
          } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/23944042" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  </div>

  <p class="offer disabled">Вся представленная на сайте информация ни при каких условиях не является публичной офертой,
    определяемой положениями Статьи 437 (2) ГК РФ.</p>
</footer>

</body>
</html>